.monitorbutton{
	display:inline;
	width:auto !important;
}
.monitorbutton tr td{
	cursor:pointer;
	color: #323232;
	background-color:#F0F0F6;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	border: 1px solid grey;
	width:145px !important;
	height:72px !important;
	background-color: #D7EDF3 !important;
	vertical-align: middle !important;
}
.monitorbutton tr td:hover {
	background-color:#379bb9 !important;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
	cursor:pointer;
}
.monitorbutton tr td a:hover {
	text-decoration:none;
}

.ts3-del-virtual.center {
	display:none;
}

.ts3-add-virtual.center{
	display:none; 
}

button:active, button[type="submit"]:active, input[type="submit"]:active, .monitorbutton tr td:active {
	background-color:#0F0 !important;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
#server_icon{
	display:block;
	float:left;
	overflow:hidden;
	margin-top:2px;
	margin-bottom:4px;
	margin-left:6px;
	margin-right:2px;
	padding-top:1px;
	padding-bottom:3px;
	padding-right:5px;
	border:1px solid gray;
	background:transparent;
	cursor:pointer;
	background-color:white;
	border-radius:3px;
	font-weight:bold;
}

#server_icon div{
	display:inline-block; 
	vertical-align:middle;
}

table.center {
	background-color:#D7EDF3;
	border:1px solid grey;
	margin-left:2px;
}

table.center tr td{
	background: #D7EDF3 !important;
	border:none;
}