h4{
	width:100% !important;
	height:25px !important;
	background:#379bb9 !important;
	border-top-style:solid !important;
	border-top-color:#afafaf !important;
	border-top-width:1px !important;
	border-style: solid !important;
	border-color: #CFCFCF !important;
	border-width: 1px !important;
    padding-top:8px !important;
	text-align: center !important;
	font-family:'Trebuchet MS' !important;
}

label{
	text-align: left !important;
}