/* Image styling */
img{
	width:256px;
	height:256px;
}

/* Game name below image */
center {

}

center em{
	text-align:center;
	background-color:#ffffff !important;
	color:#blue !important;
}

p{
	text-align:center;
	background-color:#ffffff !important;
	color:blue !important;
}
