table.center {
	border:1px solid #E4F3F7;
	background:#f1f9fb;
}

input[type="submit"] {
    border: 1px solid #000;
    padding: 2px 8px;
	margin-top: 0px;
    margin-bottom: 0px;
}

tr.tr td{
	background:#E4F3F7;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.main-content center{
	padding-top: 50px;
}
