pre.log{
	font-size: 16px !important;
	padding-top:10px;
	padding-left:5px;
	background-color: #4875B3 !important;
}

.log{
	border: none;
	margin-bottom:15px;
}

.log b {
	font-size: inherit !important;
}

.log select,
.log input
{
    width: auto !important;
}

.log input {
    margin-left: 0px;
}
