.monitorbutton{
        display:inline-block;
        color: #323232;
        background-color: #F0F0F6;
        transition: background-color 0.5s;
        -webkit-transition: background-color 0.5s;
        border: 1px solid grey;
        width: 145px;
        height: 80px;
        background-color: #D7EDF3 !important;
        text-align: center;
        float: left;
        margin: 1%;
}
.monitorbutton.size {
	line-height: 80px;
}
.monitorbutton:hover {
        background-color:#398bba !important;
        transition: background-color 0.5s;
        -webkit-transition: all 0.5s;
        cursor:pointer;
        color: #fff !important;
        text-decoration:none;
}
.monitorbutton img {
        height: 46px;
        margin: 2px 0px;
}
.monitorbutton span {
        display: block;
        color: #323232;
        font-weight: bold;
}

.monitorbutton:hover span {
color: #fff;
}

.ts3-del-virtual.center {
	display:none;
}

.ts3-add-virtual.center{
	display:none; 
}

button:active, button[type="submit"]:active, input[type="submit"]:active, .monitorbutton:active {
	background-color:#0F0 !important;
	transition: background-color 0.25s;
	-webkit-transition: background-color 0.25s;
}
#server_icon{
	display:block;
	float:left;
	overflow:hidden;
	margin-top:2px;
	margin-bottom:4px;
	margin-left:6px;
	margin-right:2px;
	padding-top:1px;
	padding-bottom:3px;
	padding-right:5px;
	border:1px solid gray;
	background:transparent;
	cursor:pointer;
	background-color:white;
	border-radius:3px;
	font-weight:bold;
}

#server_icon div{
	display:inline-block; 
	vertical-align:middle;
}

table.center {
	background-color:#D7EDF3;
	border:1px solid grey;
	margin-left:2px;
}

table.center tr td{
	background: #D7EDF3 !important;
	border:none;
}
