.administration-buttons div{
	padding: 15px 10px 5px 20px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	min-width:125px;
	min-height:100px;
}
.administration-buttons div:hover {
	transition: all 300ms;
	-webkit-transition: all 300ms;
	background-color: #398bba;
	border-radius: 2px;
	text-decoration:none;
	cursor:pointer;
	-webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
	color: #fff;
}
.administration-buttons div:active {
	background-color: #379bb9;
	box-shadow: 1px 1px 1px 1px #999, inset 0px 0px 0px 0px #318ba5;
	-webkit-box-shadow: 1px 1px 1px 1px #999, inset 0px 0px 0px 0px #318ba5;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	color:#555;
	text-shadow:0.1em 0.1em #FFF;
}
.administration-buttons div:active  img{
	position:relative;
	top:0.5px;
	left:0.5px;
}
.administration-buttons, .administration-buttons:hover, .administration-buttons :active {
	color:black !important;
	text-decoration:none;
}
.administration-buttons-hmargin{
	width:40px;
}
.administration-buttons-vmargin{
	height:40px;
}